table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  padding: 15px 0;
}

.user_info {
 padding: 20px;
}

.user_table {
  box-shadow: 0 0 2px rgba(0,0,0,.15);
  background-color: white;
}

.edit_button {
  background: transparent;
  border: none;
  color: blue;
}

.edit_button:hover {
  background:transparent;
  color: lightblue;
}

.delete_button {
  background: transparent;
  border: none;
  color: red;
}

.delete_button:hover {
  color: palevioletred;
}

.close_btn {
  background:transparent;
  display: block;
  margin: 0 0 0 auto;
  border: none;
}